In [1]:
import pandas as pd 

sixteen=pd.read_csv('height16 (2).csv')

In [2]:
sixteen.head()

,Season,TeamName,Height,RankHeight,HgtC,RankHgtC,HgtPF,RankHgtPF,HgtSF,RankHgtSF,...,DRC,RankDRC,DRPF,RankDRPF,DRSF,RankDRSF,DRSG,RankDRSG,DRPG,RankDRPG
0,2016,North Dakota,76.76,164,0.59,101,-0.40,226,-0.82,252,...,31.17,43,20.77,289,14.62,330,16.85,135,16.60,48
1,2016,UAB,76.81,156,0.10,140,0.91,75,0.18,144,...,27.21,145,26.46,80,17.12,261,14.70,233,14.51,145
2,2016,Delaware,76.71,175,-0.29,201,-0.01,168,-0.23,196,...,22.37,285,26.75,70,19.60,152,12.99,310,18.29,22
3,2016,Valparaiso,77.94,41,0.65,92,1.60,34,2.34,6,...,27.09,151,20.39,301,19.58,154,18.37,82,14.57,140
4,2016,Jacksonville,76.45,220,-1.98,344,-0.64,256,0.98,68,...,18.21,342,20.49,298,22.20,57,21.01,27,18.10,26

In [3]:
sixteen.columns=['Season','TeamName','Size','SizeRank','Hgt5','Hgt5Rank','Hgt4','Hgt4Rank','Hgt3','Hgt3Rank','Hgt2','Hgt2Rank','Hgt1','Hgt1Rank','HgtEff','HgtEffRank','Exp','ExpRank','Bench','BenchRank','Pts5','Pts5Rank','Pts4','Pts4Rank','Pts3','Pts3Rank','Pts2','Pts2Rank','Pts1','Pts1Rank','OR5','OR5Rank','OR4','OR4Rank','OR3','OR3Rank','OR2','OR2Rank','OR1','OR1Rank','DR5','DR5Rank','DR4','DR4Rank','DR3','DR3Rank','DR2','DR2Rank','DR1','DR1Rank']

In [4]:
sixteen.head()

,Season,TeamName,Size,SizeRank,Hgt5,Hgt5Rank,Hgt4,Hgt4Rank,Hgt3,Hgt3Rank,...,DR5,DR5Rank,DR4,DR4Rank,DR3,DR3Rank,DR2,DR2Rank,DR1,DR1Rank
0,2016,North Dakota,76.76,164,0.59,101,-0.40,226,-0.82,252,...,31.17,43,20.77,289,14.62,330,16.85,135,16.60,48
1,2016,UAB,76.81,156,0.10,140,0.91,75,0.18,144,...,27.21,145,26.46,80,17.12,261,14.70,233,14.51,145
2,2016,Delaware,76.71,175,-0.29,201,-0.01,168,-0.23,196,...,22.37,285,26.75,70,19.60,152,12.99,310,18.29,22
3,2016,Valparaiso,77.94,41,0.65,92,1.60,34,2.34,6,...,27.09,151,20.39,301,19.58,154,18.37,82,14.57,140
4,2016,Jacksonville,76.45,220,-1.98,344,-0.64,256,0.98,68,...,18.21,342,20.49,298,22.20,57,21.01,27,18.10,26

In [5]:
sixteen.to_csv('sixteen.csv')